﻿@model StudentViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>
<hr />
@*<form class="edit-form" action="/Student/Edit" method="post">
        <div>
            <label class="edit-label">Id</label>
            <input disabled="disabled" value="@Model.Id"/>
            <input hidden="hidden" name="id" value="@Model.Id" />
        </div>
        <div>
            <label class="edit-label">Full name</label>
            <input name="fullName" value="@Model.FullName"/>
        </div>
        <div>
            <label class="edit-label">Birth</label>
            <input type="date" name="birth" value="@Model.Birth.ToString("yyyy-MM-dd")"/>
            <img src="https://picsum.photos/200" alt="Random pic" />
        </div>
        <div>
            <input style="transform: rotate(45deg)" class="btn btn-danger" type="submit" value="Edit" />
        </div>
    </form>*@
@*@using(@Html.BeginForm("Edit", 
    "Student", 
    null, 
    FormMethod.Post, 
    false, 
    new { @class = "edit-form"})){ 

    <div>
        <label class="edit-label">Id</label>
        <input disabled="disabled" value="@Model.Id" />
        <input hidden="hidden" name="id" value="@Model.Id" />
    </div>
    <div>
        <label class="edit-label">Full name</label>
        <input name="fullName" value="@Model.FullName" />
    </div>
    <div>
        <label class="edit-label">Birth</label>
        <input type="date" name="birth" value="@Model.Birth.ToString("yyyy-MM-dd")" />
        <img src="https://picsum.photos/200" alt="Random pic" />
    </div>
    <div>
        <input style="transform: rotate(45deg)" class="btn btn-danger" type="submit" value="Edit" />
    </div>
}*@
<form class="edit-form" asp-action="Edit" method="post">
    <div>
        <label class="edit-label">Id</label>
        <input disabled="disabled" value="@Model.Id"/>
        <input hidden="hidden" name="id" value="@Model.Id"/>
        @Html.ValidationMessageFor(student => student.Id)
    </div>
    <div>
        <label class="edit-label">Full name</label>
        <input name="fullName" value="@Model.FullName" />
        <div>
            @Html.ValidationMessageFor(student => student.FullName, "", new {@class="text-danger"})
        </div>
    </div>
    <div>
        <label class="edit-label">Birth</label>
        <input type="date" name="birth" value="@Model.Birth.ToString("yyyy-MM-dd")"/>
        @Html.ValidationMessageFor(student => student.Birth)
        <img src="https://picsum.photos/200" alt="Random pic" />
    </div>
    <div>
        <input style="transform: rotate(45deg)" class="btn btn-danger" type="submit" value="Edit" />
    </div>
</form>
