﻿@using DomainCenteredApp.Domain.Enum
@model ProductWithFiles

@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    var colors = Enum.GetValues(typeof(ColorEnum)).Cast<ColorEnum>().ToList();
    colors.Remove(ColorEnum.Unavailable);

    var categories = Enum.GetValues(typeof(CategoryEnum)).Cast<CategoryEnum>().ToList();
}

<h1>Create product</h1>
<hr />

<form enctype="multipart/form-data" asp-action="CreateProduct" method="post">
    <div class="form-group">
        <input asp-for="Name" placeholder="Enter name" />
    </div>
    <div class="form-group">
        <input asp-for="Description" placeholder="Enter description" />
    </div>
    <div style="border: 1px solid black; border-radius: 5px; padding: 20px; width: 174px; display: flex; flex-direction: column; align-items: center;">
        <label>Colors:</label>
        <div>
            @foreach (var color in colors)
            {
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="Colors" value="@color" />
                    <label class="form-check-label">
                        @color.ToString()
                    </label>
                </div>
            }
        </div>
    </div>
    <div>
        <select asp-for="Category">
            @foreach (var category in categories)
            {
                <option value="@category">@category.ToString()</option>
            }
        </select>
    </div>
    <div>
        <label>Weight:</label>
        <input type="number" asp-for="Weight" min="0" max="100" step=".01">
    </div>
    <div class="form-group">
        <label>Image: </label>
        <input asp-for="Image" placeholder="Upload image"/>
    </div>
    <div class="form-group">
        <label>Pdf: </label>
        <input asp-for="Pdf" placeholder="Upload pdf" />
    </div>
    <div class="form-group">
        <label>IsFragile:</label>
        <input type="checkbox" asp-for="IsFragile"/>
    </div>
    <div>
        <input type="submit" value="Save" />
    </div>
</form>
