﻿@model IEnumerable<ProductLight>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Products</h1>
<hr />

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>@Html.DisplayNameFor(p => p.Image)</th>
            <th>@Html.DisplayNameFor(p => p.Name)</th>
            <th>@Html.DisplayNameFor(p => p.Category)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td><img style="max-height: 50px" src="@product.Image"/></td>
                <td>@product.Name</td>
                <td>@product.Category</td>
            </tr>
        }
    </tbody>
</table>
